/bin/Debug/net5.0/appsettings.Development.json
/bin/Debug/net5.0/appsettings.json
/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/Humanizer.dll
/bin/Debug/net5.0/InventorySystem.deps.json
/bin/Debug/net5.0/InventorySystem.dll
/bin/Debug/net5.0/InventorySystem.exe
/bin/Debug/net5.0/InventorySystem.pdb
/bin/Debug/net5.0/InventorySystem.runtimeconfig.dev.json
/bin/Debug/net5.0/InventorySystem.runtimeconfig.json
/bin/Debug/net5.0/InventorySystem.Views.dll
/bin/Debug/net5.0/InventorySystem.Views.pdb
/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/net5.0/Microsoft.Identity.Client.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/bin/Debug/net5.0/Newtonsoft.Json.dll
/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/ref/InventorySystem.dll
/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/bin/Debug/net5.0/System.Composition.AttributedModel.dll
/bin/Debug/net5.0/System.Composition.Convention.dll
/bin/Debug/net5.0/System.Composition.Hosting.dll
/bin/Debug/net5.0/System.Composition.Runtime.dll
/bin/Debug/net5.0/System.Composition.TypedParts.dll
/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/net5.0/System.Runtime.Caching.dll
/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/obj/Debug/net5.0/apphost.exe
/obj/Debug/net5.0/InventorySystem.AssemblyInfo.cs
/obj/Debug/net5.0/InventorySystem.AssemblyInfoInputs.cache
/obj/Debug/net5.0/InventorySystem.assets.cache
/obj/Debug/net5.0/InventorySystem.csproj.CopyComplete
/obj/Debug/net5.0/InventorySystem.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0/InventorySystem.csproj.FileListAbsolute.txt
/obj/Debug/net5.0/InventorySystem.csprojAssemblyReference.cache
/obj/Debug/net5.0/InventorySystem.dll
/obj/Debug/net5.0/InventorySystem.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/InventorySystem.genruntimeconfig.cache
/obj/Debug/net5.0/InventorySystem.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net5.0/InventorySystem.pdb
/obj/Debug/net5.0/InventorySystem.RazorAssemblyInfo.cache
/obj/Debug/net5.0/InventorySystem.RazorAssemblyInfo.cs
/obj/Debug/net5.0/InventorySystem.RazorCoreGenerate.cache
/obj/Debug/net5.0/InventorySystem.RazorTargetAssemblyInfo.cache
/obj/Debug/net5.0/InventorySystem.RazorTargetAssemblyInfo.cs
/obj/Debug/net5.0/InventorySystem.TagHelpers.input.cache
/obj/Debug/net5.0/InventorySystem.TagHelpers.output.cache
/obj/Debug/net5.0/InventorySystem.Views.dll
/obj/Debug/net5.0/InventorySystem.Views.pdb
/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Products/Create.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Products/Delete.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Products/Details.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Products/Edit.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Products/Index.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Providers/Create.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Providers/Delete.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Providers/Details.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Providers/Edit.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Providers/Index.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
/obj/Debug/net5.0/ref/InventorySystem.dll
/obj/Debug/net5.0/staticwebassets/InventorySystem.StaticWebAssets.Manifest.cache
/obj/Debug/net5.0/staticwebassets/InventorySystem.StaticWebAssets.xml
/obj/InventorySystem.csproj.nuget.dgspec.json
/obj/InventorySystem.csproj.nuget.g.props
/obj/InventorySystem.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
